.popup__container {
    position: absolute;
    top: 27%;
    left: 52%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: minmax(min-content max-content) minmax(min-content max-content);
    grid-template-rows: minmax(min-content max-content) minmax(min-content max-content);

}

@media screen and (max-width: 640px) {
    .popup__container {
        top: 15%;
        left: 52%;
    }
  }