.popup__save-button {
    margin: 48px 36px 36px;
    padding: 0;
    background: #000000;
    border-radius: 2px;
    max-width: 358px;
    padding: 19px 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.popup__save-button:hover {
    opacity: 0.6;
    cursor: pointer;
}